div#container {
    width: auto;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: left;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    background-color: #E6E6E6;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1875;
    margin: 0;
    text-align: center;
}

#Shape2 {
    width: 100%;
    height: 100%;
    background-color: #2B579A;
    border: 0px #A0A0A0 solid;
}

#Shape3 {
    width: 100%;
    height: 60%;
    /*background-color: #4AAC84;*/
    border: 0px #A0A0A0 solid;
}

#Shape1 {
    width: 100%;
    height: 100%;
    background-color: #00C0EF;
    border: 0px #A0A0A0 solid;
}

#Shape4 {
    width: 100%;
    height: 100%;
    background-color: #D93131;
    border: 0px #A0A0A0 solid;
}

#Shape5 {
    width: 289px;
    height: 173px;
    background-color: #D93131;
    border: 0px #A0A0A0 solid;
}

#Shape6 {
    width: 100%;
    height: 100%;
    background-color: #D93131;
    border: 0px #A0A0A0 solid;
}

#Shape7 {
    width: 216px;
    height: 144px;
    background-color: #4AAC84;
    border: 0px #A0A0A0 solid;
}

#Shape8 {
    width: 216px;
    height: 144px;
    background-color: #4AAC84;
    border: 0px #A0A0A0 solid;
}

#Shape9 {
    width: 216px;
    height: 144px;
    background-color: #4AAC84;
    border: 0px #A0A0A0 solid;
}

#Shape10 {
    width: 216px;
    height: 144px;
    background-color: #4AAC84;
    border: 0px #A0A0A0 solid;
}

@media all and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}

@media (max-width:1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1080px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 800px) {
}

@media (max-width: 768px) {
}

@media (max-width: 736px) {
}

@media (max-width: 667px) {
}

@media (max-width: 640px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 414px) {
}

@media (max-width: 384px) {
}

@media (max-width: 375px) {
}

/*iphone portrait*/
@media (min-width: 320px) and (max-width: 414px) {
}

/*iphone landcape*/
@media (min-width: 568px) and (max-width: 823px) {
}

@media only screen and (min-width: 768px) and (max-width: 969px) {
    
}

@media only screen and (max-width: 767px) {
    
}

#dBtnToKitchen {
}

#dBtnTimer {
}

#dTxtOption {
}

#dTxtItem {
    float: left;
    text-align: left;
    display: inline-flex;
}

#checkedItemTakeOut {
    width: 10%;
    display: grid !important;
}

#txtItemAdd {
    width: 60%;
    font-size: 30px;
    margin-left: 30px!important;
}

.dBtnAddItem {
    float: left;
    margin: 5px 5px 0px 5px;
}

.girdItems {
    height: 100%;
}

.dxdvControl td.dxdvCtrl {
    padding: 0px 10px 0px 0px !important;
}

.cssBtnAddItem {
    cursor: pointer;
    width: 80%;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 10px;
    font-style: bold!important;
    background: #2dcc70;
    /*border: 0.1em solid #aaa;
    border-radius: 5px;*/
}

.dxtcPageContent_Office2010Blue {
    padding: 0px !important;
}

#ctl00_ContentPlaceGirdItem_pcLogin_Panel1_carTabPage_SVA {
    width: 718px !important;
}

#ctl00_ContentPlaceMenu_ASPxPageControl1_SVA table {
    overflow-y: scroll;
}


